@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(13, 202, 13, 0.927), rgb(3, 94, 21))
}
h1{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
p{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
nav{
    text-align: start;
}
a{
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
h2{
    text-align: left;
    color: rgb(10, 71, 10);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}
h3{
    color: rgb(10, 71, 10);
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.47), white);
}
body{
    background-color: rgba(92, 228, 92, 0.81);
}
main{
    background-color: white;
    padding: 10px;
}
div{
    padding: 30px;
   background-color: rgb(10, 71, 10);
}
footer{
    text-align: center;
    background-color: rgb(10, 71, 10);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37)
    
}